
<div class="card"  >
    <div class="card-body">
      <h2 class="card-title">Job Details</h2>
      <div class="card-body">
        
        <div *ngIf="job != null">
                <p>JobId:  {{job.jobId}}</p>
                <p>Engineer: {{job.engineer}}</p>
                <p>Customer Name: {{job.customerId}} {{job.customerId!=0 &&job.customerId!=null  ? job.customerId:'  Unknown'}}</p>
                <p>Customer Type: {{job.type!=0 &&job.type!=null  ? job.type:'  Unknown'}}</p>
                <p>When: {{job.when  | date: 'MM/dd/yyyy'}}</p>          
        </div>   
        <a [routerLink]="['/jobs']">Back</a>

    </div>
    </div>
  </div>
  