<div class="card"  >
    <div class="card-body">
      <h2 class="card-title">Job Details</h2>
      <div class="card-body">
        
        <div *ngIf="job != null">
                <p>JobId:  {{job.jobId}}</p>
                <p>Engineer: {{job.engineer}}</p>
                <p>Customer Name: {{job.customerId != null && job.customerId != 0  ? job.customer.name : 'Unknown'}}</p>
                <p>Customer Type: {{job.customerId != null && job.customerId != 0  ? job.customer.type : 'Unknown'}}</p>
                <p>When: {{job.when  | date: 'dd/MM/yyyy'}}</p>          
        </div>   
        <a [routerLink]="['/jobs']">Back</a>
    </div>
    </div>
  </div>
  